@charset "UTF-8";
*{
    padding: 0px;
    margin: 0px;
}
html{
    height: 100vh;
}
body{
    padding: 0px;
    margin: 0px;
    background-color: rgb(221, 221, 221);
}
header{
    background-color: rgb(141, 141, 141);
    text-align: center;
}
    menu{
        display: block;
    }
    menu > ul{
        list-style-type: none;
    }
    menu > ul > li> a{
        background-color: rgb(56, 56, 56);
        display: block;
        margin: 1px;
        padding: 8px;
        color: white;
        text-decoration: none;
        font-size: 1.4em;
    }
    menu > ul > li> a:hover{
        background-color: rgb(70, 70, 70);
    }
    main{
        width: 90vw;
        margin: auto;
        padding: 10px;
        background-color: white;
    }